<!DOCTYPE/>
<html lang="fr">
	
	<head>
		<meta charset="utf-8" />
		<title>World Music </title>
		
	</head>
	<body>
		
		<div id="main_wrapper">
			
		<header id="top_header">
			<img src="/assets/fall.jpg" width="200" alt="fallimg"/>	
			<h1>Personal Data</h1>
			<br><br>
			FULL_NAME: &nbsp;&nbsp;{{firstname }} , {{lastname}}&nbsp;&nbsp;&nbsp; , &nbsp;&nbsp;PHONE_NUMBER: &nbsp;&nbsp;&nbsp;{{phone}}
			<br><br>
			Date de Naissance: &nbsp;&nbsp;&nbsp;{{age}}
			<br><br>
			ADRESS: &nbsp;&nbsp;&nbsp;{{adress}}&nbsp;&nbsp;&nbsp; , &nbsp;&nbsp;EMAIL: &nbsp;&nbsp;&nbsp;{{emails}}
			<br><br>
			

			

			
		</header>
			<section id="main_section" >
			
			
			<div>
				<h1>Diplomes </h1>
				<br>
				<h2>BAC</h2>
				<br>
				<h2>Technicien Informatique et Reseau</h2>
				<br>
				<h2>Certification as a FullStack developer</h2>
			</div>
			<div>
				<h1>Competences</h1>
				<br>
				<h2>Gerer la maintenence informatique </h2>
				<br>
				<h2>Capable de realiser une application backend and frontend</h2>
				<br>
				<h2>Spring boot && angular</h2>
			</div>
			<div>
				<h1>Experiences</h1>
				<br>
				<h2> deux  ans d'experience en tant que maintenencier</h2>
				<br>
				<h2>Toujours en Formation sur les nouvelles technologies</h2>
			</div>
			
			
		</section>
		
		
		
	
		
	
		<footer id="main_footer">
			<p>&copy; 2021: Developped & Designed by FallAblaye(test)</p>
		
		
		</footer>
		</div>
	
	
	</body>
	
	
	
	
	
	
	
	
	
</html>